@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --fontsRoboto: 'Roboto', sans-serif;
    --fontsOpenSans: 'Open Sans', sans-serif;
    --fontsPoppins: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a, li {
    font-family: var(--fontsRoboto);
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    background-color: #a3bded;
    background-repeat: no-repeat;
    animation: mostrar 1.5s ease-in-out;
}


@keyframes mostrar {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


header{
    background-color: #6991c7 ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    position: fixed;
    left: 0;
    right: 0;
    
}

.logo-header img{
    width: 50px;
}

.nav-menu ul{
    display: flex;
    align-items: center;
}

.nav-menu li{
    margin-right: 1rem;
}

.nav-menu a{
    color: #fff;
}

.nav-menu a:hover {
    color: #4ad295;
}

.nav-menu li:last-child{
    background:#4ad295;
    padding: .25rem .75rem;
    border-radius: 1rem;
}

.nav-menu li:last-child:hover{
    background: transparent;
    border: 2px solid #4ad295;
}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check{
    display: none;
}


@media (max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
}


/* MAIN-HERO-NOSOTROS */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero{
    display: flex;
    padding: 70px 0;
    width: 90%;
    justify-content: space-around;
}

.hero-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero-presentacion h1 {
    font-weight: 700;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', monospace;
}

.hero-presentacion p{
    font-weight: 300;
    font-size: 18px;
    max-width: 350px;
    color: black;
    font-family: var(--fontsOpenSans);
}

.boton-conteiner{
    display: flex;
    gap: 15px;
}

.boton-conteiner a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--fontsOpenSans);
}

.boton_uno{
    background-color: #005B44;
    color: white;
}

.boton_dos{
    background-color: white;
    color: #005B44;
}

.hero-img{
    width: 1000px;
    border-radius: 20px;
}


/** NOSOTROS **/

#nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    /* background-image: linear-gradient(#fff, #74ebd5); */
    border-radius: 10px;
    gap: 50px;
}

.texto-nosotros h1 {
    font-size: 45px;
    text-align: center;
    margin: 0px;
    font-family: var(--fontsOpenSans);
}

.texto-nosotros p{
    max-width: 850px;
    padding: 30px 0;
    font-weight: 300;
    text-align: center;
    font-family: var(--fontsOpenSans);
}

.nosotros-img {
    width: 800px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.66);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.66);
}


/** CARD **/ 

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #005B44;
    cursor: pointer;
  }

  button:hover {
    background-color: #000;
  }
  

#nuestros-programas {
    text-align: center;
  }
  
  #nuestros-programas .container__programas {
    padding: 50px 12px;
    max-width: 1200px;
    
  }
  

.container__programas h3{
    font-size: 30px;
    padding: 50px;
    color: #fff;
}
  
  #nuestros-programas p {
    display: none;
    padding: 50px 20px;
    margin: 20px;
    font-size: 1.25em;  
  }
  
  #nuestros-programas .carta {
    background-size: cover;
    background-position: center ;
    padding: 20px 0px;
    width: 550px;
    margin: 30px;
    border-radius: 15px;
    background-color: #e6e6e663;
  }
  
  .carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/img/front-end.jpg");
  }
  
  .carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/img/full-stack.jpg");
  }
  
  .carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/img/python.jpg");
  }

  
  @media screen and (min-width: 768px) {
    #nuestros-programas .programas {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    
      #nuestros-programas .carta p {
        margin-bottom: 10px;
        display: block;
      }
    
     .container__programas h3 {
        margin-top: 0;
        font-size: 40px;
        color: #fff;
      }
    
      #nuestros-programas .carta {
        background-size: 100% 150px;
        background-repeat: no-repeat;
        padding: 10px;
        background-position-y: 0;
        box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.5);
      }
    
      .carta:first-child {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("/img/front-end-cropped.jpg");
      }
    
      .carta:nth-child(2) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("/img/full-stack-cropped.jpg");
      }
    
      .carta:nth-child(3) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("/img/python-cropped.jpg");
      }
  }


  @media screen and (max-width: 992px){

    .hero-presentacion {
        text-align: center;
        width: 90%;
        align-items: center;
    }

    .hero-presentacion h1{
        display: block;
        width: 100%;
    }

    .hero-presentacion p {
        max-width: 80%;
        font-size: 16px;
    }

    .boton-conteiner {
        justify-content: center;
    }

    .hero-img{
        display: none;
    }


    #nosotros {
        text-align: center;
        align-items: center;
    }

    .texto-nosotros h1{
        display: block;
        width: 100%;
    }

    .texto-nosotros p{
        font-size: 18px;
    }

    .nosotros-img{
        display: none;
    }

      
    #nuestros-programas .carta {
        padding: 20px 0px;
        margin: 30px;
        border-radius: 15px;
        background-color: #e6e6e663;
      }
    
  }

  @media screen and (max-width: 1599px) {

    .hero-img{
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        height: 450px;
        width: 500px;
    }


    #nosotros{
        display: flex;
        flex-direction: column;
    }
    
  }

  

/** FORM DE CONTACTO **/

#contacto {
    max-width: 100%;
    padding: 100px;
}

.contacto-in {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.contacto-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contacto-map iframe {
    width: 90%;
    height: 100%;
    
}

.contacto-from {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    
}

.contacto-from h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

.contacto-from-txt {
    width: 100%;
    height: 50px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contacto-from-txt::placeholder{
    color: #aaa;
}

.contacto-from-txtarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: var(--fontsPoppins); 
}

.contacto-from-txtarea::placeholder{
    color: #aaa;
}

.contacto-from-btn {
    width: 50%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #005B44;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.contacto-from-btn:hover {
    background: #000
}

/** FOOTER **/


footer{
    padding: 150px 0 0 0;
    margin: 0;
}

.contenedor {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #222;
    color: #fff;
}

footer .titulo-seccion{
    font-size: 40px;
    font-family: var(--fontsOpenSans);
}

footer .copy {
    color: #fff;
    font-size: 18px;
    font-family: var(--fontsOpenSans);
}

.redes-sociales{
    display: flex;
    justify-content: center;
    background: #222;
    color: #fff;
}

.redes-sociales i {
    font-size: 40px;
    padding: 0 20px 0 20px;
    color: #fff;
    cursor: pointer;
    
}





